// Remove default outline on focus
button:focus {
  outline: 0;
}

.btn {
  background-color: $blue;
  color: $white;
  height: auto;
  border-radius: 50%;
  padding: 8px 20px;
  border-radius: $btn-height !important;
  box-shadow: 0 2px 4px 0 rgba(82,59,133,0.4);
  transition: all .15s ease;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);

    &.no-hover-up {
      transform: none;
      // the box shadow of the .btn class
      box-shadow: 0 2px 4px 0 rgba(82,59,133,0.4);
    }

    background-color: $blue;
    color: $white;

    i {
      background-color: $purple-light;
    }
  }

  &.outline {
    background-color: transparent;
    border: solid 1px $blue;
    color: $blue;
    box-shadow: none;

    &:hover {
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      background-color: $blue;
      color: $white;
    }
  }

  &.btn-icon {
    $bth-icon-height: $btn-height - 4px;
    position: relative;
    padding-right: 50px;


    > * {
      padding-right: $bth-icon-height;
    }

    i, .elsie-icon-arrow_right {
      background-color: $blue-light;
      height: $bth-icon-height;
      width: $bth-icon-height;
      border-radius: $bth-icon-height;
      position: absolute;
      right: 2px;
      top: 2px;

      line-height: $bth-icon-height;

      &:before {
        margin-left: 13px;
      }
    }
  }

  &.btn-txt {
    background-color: transparent;
    color: $blue;
    height: auto;
    line-height: normal;
    padding: 0;
    display: inline;
    vertical-align: initial;
    box-shadow: none;
  }

  &.btn-white {
    background: $white;
    color: $purple;

    &:hover {
      background-color: transparent;
      border: solid 1px $white;
      color: $white;
    }
  }

  &.btn-outline-white {
    background-color: transparent;
    border: solid 1px $white;
    color: $white;
    box-shadow: none;

    &:hover {
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      background-color: $white;
      color: $purple;
    }
  }

  &.btn-longer {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 150px;
  }
}

.btn-unstyled {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: normal;
  cursor: pointer;
}
