%elsie-card {
  height: 100%;

  .icon {
    margin-bottom: $gutter / 2;
    height: 50px;
    max-width: 50px;
    font-size: 50px;
  }

  .icon-inline {
    display: inline-block;
    margin-right: $gutter / 4;
    height: 30px;
    font-size: 30px;
    max-width: 30px;
    float: left;
  }

  .icon-inline-label {
    height: 30px;
    line-height: 30px;
  }

  .title {
    @extend %sans-serif-bold;
    font-size: rem(16px);
    margin-bottom: $gutter / 2;
  }

  .text {
    font-size: rem(14px);
    color: $text-grey;
  }

  .link {
    display: inline-block;
    margin-top: $gutter / 2;
    color: $pink;
    font-size: rem(14px);
  }

  &:hover .link {
    color: $purple-dark;
  }

  .contact {
    font-size: rem(14px);
    margin-top: $gutter;

    img {
      float: left;
      margin-right: $gutter / 2;
      height: 50px;
      width: 50px;
    }

    .name {
      @extend %sans-serif-bold;
    }

    .info {
      color: $text-grey;
    }
  }
}

.card-bodered,
%card-bodered {
  @extend %elsie-card;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: $gutter;
  border-radius: $box-radius;
  box-shadow: 0 10px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  text-align: left;
  background-color: $white;
}

a.card-bodered {
  transition: all 0.2s ease-out;
  color: $black;
  text-decoration: none;

  &:hover {
    box-shadow: 0 18px 35px rgba(50,50,93,.1), 0 8px 15px rgba(0,0,0,.07);
  }
}

.card-bodered-container {
  padding: 0 $gutter / 2;
  height: 100%;
}

@include media-breakpoint-up(sm) {
  .card-bodered-container {
    padding: 0;
  }
}

.card-open {
  @extend %elsie-card;
  margin-bottom: 40px;

  .icon {
    height: 40px;
    max-width: 40px;
    font-size: 40px;
  }
}

.card-quotes-container {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.card-quotes {
  @extend %card-bodered;
  padding: $gutter;
  position: relative;

  &:before {
    $quotes-width: 110px;
    $quotes-ratio: 0.933;
    content: " ";
    position: absolute;
    left: - $quotes-width - $gutter;
    top: 0;
    width: $quotes-width;
    height: $quotes-width * $quotes-ratio;
    background-image: url("../images/icons/quotes.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

.section-block-grey .card-quotes:before  {
  background-image: url("../images/icons/quotes_white.svg");
}

@include media-breakpoint-down(xs) {

  .card-quotes:before {
    display: none;
  }

  .card-bodered-container {
    position: relative;

    > * {
        padding-left: 100px;
    }

    a {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    img {
      position: absolute;
      left: 40px;
      z-index: 10;
      width: auto;
    }
  }
}
