
[class^="elsie-icon-"], [class*=" elsie-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $font-family-elsie-icon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.elsie-icon-Accessible_Genetics:before {
  content: "\e900";
}
.elsie-icon-arrow_down:before {
  content: "\e901";
}
.elsie-icon-arrow_up:before {
  content: "\e902";
}
.elsie-icon-Backed_Science:before {
  content: "\e903";
}
.elsie-icon-Benefits:before {
  content: "\e904";
}
.elsie-icon-Berlim:before {
  content: "\e905";
}
.elsie-icon-Cantanhede:before {
  content: "\e906";
}
.elsie-icon-Close:before {
  content: "\e907";
}
.elsie-icon-Diagnosis:before {
  content: "\e908";
}
.elsie-icon-Disease:before {
  content: "\e909";
}
.elsie-icon-dna:before {
  content: "\e90a";
}
.elsie-icon-Effortless_Lab_Interactions:before {
  content: "\e90b";
}
.elsie-icon-Family:before {
  content: "\e90c";
}
.elsie-icon-Forward_Thinking:before {
  content: "\e90d";
}
.elsie-icon-genome:before {
  content: "\e90e";
}
.elsie-icon-Healthier:before {
  content: "\e90f";
}
.elsie-icon-Individualised_Results:before {
  content: "\e910";
}
.elsie-icon-lab_work:before {
  content: "\e911";
}
.elsie-icon-Logistics:before {
  content: "\e912";
}
.elsie-icon-Patient_Care:before {
  content: "\e913";
}
.elsie-icon-Portfolio:before {
  content: "\e914";
}
.elsie-icon-Privacy_Security:before {
  content: "\e915";
}
.elsie-icon-Rich_Readable_Reports:before {
  content: "\e916";
}
.elsie-icon-sample:before {
  content: "\e917";
}
.elsie-icon-Save_Time_Money:before {
  content: "\e918";
}
.elsie-icon-Scaled_Down_Cost:before {
  content: "\e919";
}
.elsie-icon-Security:before {
  content: "\e91a";
}
.elsie-icon-Simplified_Ordering_Process:before {
  content: "\e91b";
}
.elsie-icon-Simplify_Auditing:before {
  content: "\e91c";
}
.elsie-icon-Strengthen_Lab_Relationships:before {
  content: "\e91d";
}
.elsie-icon-Tailored_automated_avoid_errors:before {
  content: "\e91e";
}
.elsie-icon-Treatment:before {
  content: "\e91f";
}
.elsie-icon-Workflow:before {
  content: "\e920";
}
