.expandable-hover {
  .expandable-content {
    @extend %animate-slide-down-collapsed;
  }

  .expandable-toggle {
    @extend %transition-all;

    i, .elsie-icon-arrow_down {
      display: inline-block;
      @extend %transition-all;
    }
  }

  &:hover {
    .expandable-toggle {
      color: $gray-500;

      i, .elsie-icon-arrow_down {
        transform: rotate(0deg);
      }
    }

    .expandable-content {
      @extend %animate-slide-down-expanded;
    }
  }
}
