.footer {
  color: $text-grey;
  font-size: rem(14px);

  .main-logo {
    max-width: 100%;
    max-height: 30px;
  }

  a {
    color: $text-grey;
  }

  .partners-logos {
    float: right;
  }

  .subscribe-block {
    .subscribe-label {
      display: block;
      width: 100%;
    }

    .subscribe-input {
      display: block;
      width: 100%;
      margin-top: $gutter / 3;
    }
  }

  .social {
    text-align: center;
  }
}

@include media-breakpoint-up(sm) {
  .footer {
    .subscribe-block {
      .subscribe-label,
      .subscribe-input {
        width: 50%;
      }
    }

    .social {
      text-align: left;
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    .subscribe-block {
      .subscribe-label,
      .subscribe-input {
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer .partners-logos {
    float: none;
    display: flex;
    justify-content: space-between;
  }
}
