.login-form {
  padding: 0 $gutter;
  text-align: center;
  width: 100%;
  max-width: 500px;

  .brand-logo-link {
    display: inline-block;
  }

  .brand-logo {
    width: 120px;
    max-width: 80%;
  }

  .form-group {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  button[type=submit] {
    width: 100%;
    margin-top: $gutter;
  }
}

.form-help-text {
  display: block;
  text-align: right;
  margin-top: 10px;
}

.schedule-demo-form {
  > *, input, select, label, .dropdown-toggle {
    color: $white;
    border-color: $white;
  }

  input[name="demo[msg]"] {
    width: 600px;
  }

  .select-dropdown-institution-type.expanded .dropdown-options {
    max-height: 140px;
  }
}

form.open-form {
  input, select, label, div {
    font-size: rem(24px);
  }

  .input-text-open:not(:last-child) {
    margin-bottom: 25px;
  }

  input, select, .dropdown-toggle {
    width: 300px;
  }
}

@include media-breakpoint-up(lg) {
  .login-message-container {
    padding-left: $gutter;
  }
}
