.header {
  .img-header {
    max-width: 88%;
  }

  .lead {
    color: $white;
  }
}

@include media-breakpoint-up(lg) {
  .header {
    .img-header-container {
      text-align: right;
      width:100%;
    }
  }
}


@include media-breakpoint-down(sm) {
  .header {
    .img-header {
      /*display: none;*/
    }
  }
}


@include media-breakpoint-down(md) {
  .header {
    .img-header {
      height: 280px;
    }
  }
}