// Remove default outline on focus
input:focus {
  outline: 0;
}

.input-group {
  $input-height: 40px;

  .input-group-prepend {
    .input-group-text {
      background-color: $white;
      border: none;
      border-radius: $input-height 0 0 $input-height;

      i {
        color: $text-grey;
      }
    }
  }

  input {
    border: none;
    padding-left: 0;
    background-clip: border-box;
  }

  .input-group-append {
    > .btn {
      border-radius: $input-height;
      margin-left: - $input-height / 2;
      z-index: 5; // prevent bug on focus
    }
  }
}

input.short {
  max-width: 200px;

  @include media-breakpoint-down(sm) {
    max-width: none;
  }
}

input.open {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px $purple;
  padding: 0 0 3px 0;
}
