// Remove default outline on focus
input:focus {
  outline: 0;
}

.input-group {
  $input-height: $btn-height;
  height: $input-height;
  position: relative;

  .input-group-prepend {
    .input-group-text {
      background-color: $white;
      border: none;
      border-radius: $input-height 0 0 $input-height;

      i {
        color: $text-grey;
      }
    }
  }

  input {
    border: none;
    padding-left: 0;
    background-clip: border-box;
  }

  .input-group-append {
    > .btn {
      height: $input-height;
      z-index: 5; // prevent bug on focus
    }

    &.with-submit-animated {
      position: absolute;
      right: - $input-height / 2;
      top: 0;
    }
  }
}

input.short {
  max-width: 200px;

  @include media-breakpoint-down(sm) {
    max-width: none;
  }
}

input.open,
select.open {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: solid 1px;
  border-radius: 0;
  padding: 0;
}

select.open {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* hide the default arrow in ie10 and ie11 */
  &::-ms-expand {
    display: none;
  }

  option {
    font-size: 1rem;
    background-color: $white;
  }
}

input.white,
select.white {
  color: $white;
  border-color: $white;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray-300;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $gray-300;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $gray-300;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $gray-300;
  }
}
