body {
  max-width: 100%;
  overflow-x: hidden;
}

.layout-bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;

  > * {
    width: auto;
  }
}

@include media-breakpoint-down(lg) {
  .hide-lg-down {
    display: none !important;
  }
}

@include media-breakpoint-down(md) {
  .hide-md-down {
    display: none !important;
  }
}

@include media-breakpoint-down(sm) {
  .hide-sm-down {
    display: none !important;
  }
}
