.navigation {
  .logo {
    height: 30px;
  }

  .nav-item {
    a {
      color: $white;
    }

    .dropdown-toggle {
      i {
        font-size: 12px;
      }

      &:after {
        display: none;
      }
    }

    .dropdown-menu {
      width: 270px;
      padding: 0;
      border-radius: 8px;

      .dropdown-item {
        color: $black;
        font-size: rem(14px);
        float: left;
        width: 100%;
        padding-top: $gutter / 2;
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
        padding-bottom: 0;

        .dropdown-item-content {
          float: left;
          width: 100%;
          padding-bottom: $gutter / 2;
        }

        &:not(:last-of-type) {
          .dropdown-item-content {
            border-bottom: solid 1px $border-grey;
          }
        }

        .icon-container {
          width: 10%;
          float: left;
          margin-right: 10px;
        }

        .text-area {
          float: left;
          width: 233px; // Fallback: 270 * .9 - 10
          width: calc(90% - 10px);
        }

        .icon {
          max-width: 100%;
          height: 30px;
        }

        .title {
          @extend %sans-serif-bold;
          margin-bottom: 5px;
        }

        .text {
          color: $text-grey;
          white-space: normal;
        }
      }
    }
  }

  li.nav-item:not(:last-child) {
    button {
      margin-right: $navbar-nav-link-padding-x;
    }
  }

  .navbar-toggler {
    color: $white;
    float: right;
    height: 100%;
    padding: 0;
    line-height: 40px;
  }
}

@include media-breakpoint-down(sm) {
  .navigation {
    .brand-container {
      display: none;
    }

    li.nav-item {
      a.nav-link {
        padding-left: .25rem;
        padding-right: .25rem;
      }

      &:not(:last-child) {
        button {
          margin-right: .25rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .navigation {
    .brand-container {
      width: 100%;
      display: block;
    }

    .logo {
      height: 30px;
    }

    .navigation-container {
      width: 100%;
      margin-top: $gutter / 2;

      .nav-item {
        button {
          color: $blue;
          background: transparent;
          border: none;
          padding: 0;
          margin-bottom: .5rem;
        }

        a {
          color: $black;
        }
      }

      .navbar-nav {
        padding: $gutter / 2;
        background-color: $white;
        border-radius: 8px;
      }

      .dropdown-menu {
        float: left;
        border-radius: 0;
        border: none;
      }
    }
  }

}
