.navigation {
  .logo,
  .logo-scrolled {
    height: 30px;
  }

  .logo {
    display: inline-block;
  }

  .logo-scrolled {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .nav-item {
    a {
      border-radius: $box-radius;
      color: $white;
    }

    &.expandable-hover {
      position: relative;

      &:hover .expandable-content {
        // Set max heigth on show for animation
        max-height: 450px;
      }

      .expandable-content {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 2;
        width: 270px;
        margin-top: - $box-indicator-height;
      }

      .box-indicator {
        margin-left: 30px;
      }

      .expandable-items {
        background-color: $white;
        border-radius: $box-radius;
        float: left;
      }

      .expandable-toggle {
        i {
          font-size: rem(12px);
        }
      }

      .expandable-item {
        @extend %transition-all;
        color: $black;
        font-size: rem(14px);
        float: left;
        width: 100%;
        padding-top: $gutter / 2;
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
        padding-bottom: 0;

        &:hover {
          background-color: $gray-100;
        }

        .expandable-item-content {
          float: left;
          width: 100%;
          padding-bottom: $gutter / 2;
        }

        &:not(:last-of-type) {
          .expandable-item-content {
            border-bottom: solid 1px $border-grey;
          }
        }

        .icon-container {
          width: 15%;
          float: left;
          margin-right: 15px;
        }

        .text-area {
          float: left;
          width: 218px; // Fallback: 270 * .85 - 10
          width: calc(85% - 15px);
        }

        .icon {
          max-width: 100%;
          height: 40px;
        }

        .title {
          @extend %sans-serif-bold;
          margin-bottom: 5px;
        }

        .text {
          color: $text-grey;
          white-space: normal;
        }
      }
    }
  }

  li.nav-item {
    &.nav-item-links a {
      float: left;
    }

    button {
      margin-left: $navbar-nav-link-padding-x;
    }

    &:not(:last-child) {
      button {
        margin-right: $navbar-nav-link-padding-x;
      }
    }
  }

  .navbar-toggler {
    color: $white;
    float: right;
    height: 100%;
    padding: 0;
    line-height: 40px;
  }

  &.scrolled {
    background: $white;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.07);

    .logo-scrolled {
      display: inline-block;
    }

    .logo {
      display: none;
    }

    .nav-item {
      a {
        color: $purple;
      }
    }

    .expandable-items {
      border: solid 1px $border-grey;
    }
  }
}

@include media-breakpoint-down(md) {
  .navigation {
    .logo,
    .logo-scrolled {
      height: 20px;
    }

    li.nav-item {
      a.nav-link {
        padding-left: $navbar-nav-link-padding-x / 3;
        padding-right: $navbar-nav-link-padding-x / 3;
      }

      button {
        margin-left: $navbar-nav-link-padding-x / 3;
        padding-left: 15px;
        padding-right: 15px;
      }

      &:not(:last-child) {
        button {
          margin-right: $navbar-nav-link-padding-x / 3;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navigation {
    .brand-container {
      width: 100%;
      display: block;
    }

    .navigation-container {
      position: absolute;
      top: $gutter / 2;
      left: 0;
      right: 0;

      .navbar-collapse {
        position: relative;
      }

      .navbar-nav {
        padding: 0;
        background-color: $white;
        border-radius: $box-radius;
        border: solid 1px $border-grey;
      }

      .close-btn {
        display: block;
        position: absolute;
        top: $gutter / 2;
        right: $gutter / 2;
        z-index: 1;
      }

      .nav-item {
        .expandable-toggle {
          padding: $gutter / 2;
          color: $text-grey;
          cursor: default;

          i {
            display: none;
          }
        }

        .expandable-content {
          position: relative;
          // Show expandable content
          transition: none;
          max-height: none;
          opacity: 1;
          overflow: visible;

          width: auto;
          border: none;
          float: left;

          .box-indicator {
            display: none;
          }

          .expandable-items {
            border-radius: 0px;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: solid 1px $border-grey;

            .expandable-item {
              border-radius: 0px;
            }
          }
        }

        &.nav-item-links {
          padding-left: $gutter / 2;

          a {
            float: left;
            width: 50%;
            padding-left: 0;
            padding-right: 0;
            color: $purple;
          }
        }

        &.book-demo {
          display: none;
        }

        &.log-in {
          width: 100%;
          border-top: solid 1px $border-grey;
          background-color: $gray-100;
          border-radius: 0 0 $box-radius $box-radius;
          padding-left: $gutter / 2;

          button {
            margin: 0;
            border: none;
            padding: 0;
          }


          i {
            font-size: rem(12px);
            margin-left: 3px;
          }
        }
      }
    }

    &.scrolled {
      .navbar-toggler {
        color: $purple;
      }
    }
  }
}
