$shape-size: 100px;
$shape-size-md: 80px;

.shape-section,
%shape-section {
  position: relative;
  min-height: $shape-size;

  .shape-section-right,
  .shape-section-left {
    display: none;
    position: absolute;
  }

  @include media-breakpoint-up(md) {
    min-height: $shape-size-md;

    .shape-section-right,
    .shape-section-left {
      display: block;
      position: absolute;
      height: $shape-size-md;
      width: $shape-size-md;
    }

    .shape-section-right {
      right: 0;
      bottom: 0;
    }

    .shape-section-left {
      top: 0;
      left: 0;
      transform: rotate(180deg);
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $shape-size;

    .shape-section-right,
    .shape-section-left {
      position: absolute;
      height: $shape-size;
      width: $shape-size;
    }
  }
}

.shape-section-content {
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    padding-left: $shape-size-md;
    padding-right: $shape-size-md;
  }

  @include media-breakpoint-up(lg) {
    padding-left: $shape-size;
    padding-right: $shape-size;
  }
}

.shape-separator {
  height: $shape-size;
    z-index: -1; // For inside block

  .shape-separator-right,
  .shape-separator-left,
  .cover {
    display: none;
  }

  @include media-breakpoint-up(md) {
    position: relative;
    height: $shape-size-md * 2;

    .shape-separator-right,
    .shape-separator-left {
      display: block;
      position: absolute;
      height: $shape-size-md;
      width: $shape-size-md;
    }

    .shape-separator-right {
      right: 0;
      top: 0;
    }

    .shape-separator-left {
      position: absolute;
      left: $shape-size-md / 2;
      top: $shape-size-md;
    }

    .cover {
      display: block;
      position: absolute;
      right: 0;
      top: $shape-size-md;
      left: $shape-size-md;
      height: $shape-size-md;
      background-color: $white;
    }
  }

  @include media-breakpoint-up(lg) {
    height: $shape-size * 2;

    .shape-separator-right,
    .shape-separator-left {
      height: $shape-size;
      width: $shape-size;
    }

    .shape-separator-left {
      left: $shape-size / 2;
      top: $shape-size;
    }

    .cover {
      top: $shape-size;
      left: $shape-size;
      height: $shape-size;
      background-color: $white;
    }
  }
}

.shape-separator-sub-section {
  padding-top: 2 * $shape-size / 3;
  padding-left: $shape-size;
  padding-right: $shape-size;
  position: relative;
}

.shape-separator-inside-block {
  margin-top: - 60px;
  //  padding-left: $gutter / 2;
  // padding-right: $gutter / 2;

  > * {
    background-color: $white;
  }

  @include media-breakpoint-up(md) {
    // padding-left: $shape-size-md + $gutter / 2;
    // padding-right: $shape-size-md + $gutter / 2;
    margin-top: - 2 * $shape-size-md  + $gutter / 2;
  }

  @include media-breakpoint-up(lg) {
    //padding-left: $shape-size + $gutter / 2;
    //padding-right: $shape-size + $gutter / 2;
    margin-top: - 2 * $shape-size  + $gutter / 2;
  }
}

.shape-container {
  position: relative;
}

%shape-grad {
  position: absolute;
  opacity: 0.05;
  height: 130px;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.shape-grad-1 {
  @extend %shape-grad;
  left: 0;
  top: 0;
}

.shape-grad-2 {
  @extend %shape-grad;
  right: -80px;
  top: 45px;
  height: 140px;
  transform: scaleX(-1);
}

.shape-grad-3 {
  @extend %shape-grad;
  top: 0;
  left: 35%;
  height: 3 * $shape-size / 2;
}

@include media-breakpoint-down(md) {
  .shape-separator-sub-section {
    padding-top: 2 * $shape-size-md / 3;
    padding-left: $shape-size-md;
    padding-right: $shape-size-md;
  }
}
