$shape-separator-height: 100px;
$shape-separator-height-md: 80px;

.shape-section,
%shape-section {
  position: relative;
  min-height: $shape-separator-height;

  .shape-right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: $shape-separator-height;
    width: $shape-separator-height;
  }

  .shape-left {
    position: absolute;
    left: 0;
    top: 0;
    height: $shape-separator-height;
    width: $shape-separator-height;
  }

  @include media-breakpoint-down(md) {
    min-height: $shape-separator-height-md;

    .shape-right,
    .shape-left {
      height: $shape-separator-height-md;
      width: $shape-separator-height-md;
    }
  }
}

.shape-separator {
  @extend %shape-section;
  z-index: -1; // For inside block

  .shape-right {
    bottom: auto;
    top: 0;
  }

  .shape-left {
    top: $shape-separator-height;
  }
}

.shape-separator-sub-section {
  padding-top: 2 * $shape-separator-height / 3;
  padding-left: $shape-separator-height;
  padding-right: $shape-separator-height;
  position: relative;
}

.shape-separator-inside-block {
  padding-left: $shape-separator-height;
  padding-right: $shape-separator-height;
  transform: translate(0, -50%);

  > * {
    background-color: $white;
  }
}

.shape-section-content {
  padding-left: $shape-separator-height;
  padding-right: $shape-separator-height;
}

.shape-dna-container {
  position: relative;
}

.shape-dna-1 {
  height: $shape-separator-height * 0.9;
  position: absolute;
  top: $shape-separator-height;
  left: $shape-separator-height + $gutter;
}

.shape-dna-2 {
  position: absolute;
  top: 80%;
  height: 8px;
  right: 2%;
}

.shape-dna-3 {
  position: absolute;
  top: 20%;
  height: 110px;
  right: 2%;
}

.shape-dna-4 {
  position: absolute;
  bottom: 15%;
  height: 115px;
  left: 1%;
}

.shape-dna-5 {
  position: absolute;
  top: 20%;
  height: 150px;
  right: 4%;
}

.shape-dna-6 {
  position: absolute;
  bottom: 10%;
  height: 50px;
  left: 15%;
}

@include media-breakpoint-down(md) {
  .shape-separator .shape-left {
    top: $shape-separator-height-md;
  }

  .shape-section-content {
    padding-left: $shape-separator-height-md;
    padding-right: $shape-separator-height-md;
  }

  .shape-separator-sub-section {
    padding-top: 2 * $shape-separator-height-md / 3;
    padding-left: $shape-separator-height-md;
    padding-right: $shape-separator-height-md;
  }

  .shape-dna-1 {
    height: $shape-separator-height-md * 0.9;
    top: $shape-separator-height-md;
    left: $shape-separator-height-md + $gutter / 2;
  }

  .shape-dna-2 {
    bottom: 1%;
    height: 6px;
    right: 2%;
  }

  .shape-dna-3 {
    display: none;
  }

  .shape-dna-4 {
    display: none;
  }

  .shape-dna-5 {
    display: none;
  }

  .shape-dna-6 {
    display: none;
  }
}
