$shape-separator-height: 100px;
$shape-separator-height-md: 80px;

.shape-section,
%shape-section {
  position: relative;
  min-height: $shape-separator-height;

  .shape-right {
    position: absolute;
    right: 0;
    bottom: 0;
    height: $shape-separator-height;
    width: $shape-separator-height;
  }

  .shape-left {
    position: absolute;
    left: 0;
    top: 0;
    height: $shape-separator-height;
    width: $shape-separator-height;
  }

  @include media-breakpoint-down(md) {
    min-height: $shape-separator-height-md;

    .shape-right,
    .shape-left {
      height: $shape-separator-height-md;
      width: $shape-separator-height-md;
    }
  }
}

.shape-separator {
  @extend %shape-section;
  z-index: -1; // For inside block

  .shape-right {
    bottom: auto;
    top: 0;
  }

  .shape-left {
    top: $shape-separator-height;
  }
}

.shape-separator-sub-section {
  padding-top: 2 * $shape-separator-height / 3;
  padding-left: $shape-separator-height;
  padding-right: $shape-separator-height;
  position: relative;
}

.shape-separator-inside-block {
  padding-left: $shape-separator-height;
  padding-right: $shape-separator-height;
  transform: translate(0, -50%);

  > * {
    background-color: $white;
  }
}

.shape-section-content {
  padding-left: $shape-separator-height;
  padding-right: $shape-separator-height;
}

.shape-container {
  position: relative;
}

.shape-dna-1 {
  height: $shape-separator-height * 0.9;
  position: absolute;
  top: $shape-separator-height;
  left: $shape-separator-height + $gutter;
}

.shape-dna-2 {
  position: absolute;
  top: 80%;
  height: 8px;
  right: 2%;
}

.shape-dna-3 {
  position: absolute;
  top: 20%;
  height: 110px;
  right: 2%;
}

.shape-dna-4 {
  position: absolute;
  bottom: 15%;
  height: 115px;
  left: 1%;
}

.shape-dna-5 {
  position: absolute;
  top: 20%;
  height: 150px;
  right: 4%;
}

.shape-dna-6 {
  position: absolute;
  bottom: 10%;
  height: 50px;
  left: 15%;
}

.shape-dna-7 {
  position: absolute;
  top: 56%;
  height: 260px;
  right: 4%;
}

.shape-dna-8 {
  position: absolute;
  top: -25px;
  height: 65px;
  left: 135px;
}

.shape-dna-9 {
  position: absolute;
  top: 0;
  height: 160px;
  right: 5%;
}

.shape-dna-10 {
  position: absolute;
  top: 10%;
  height: 120px;
  left: 5%;
}

.shape-dna-11 {
  position: absolute;
  bottom: 3%;
  height: 60px;
  left: 3%;
}

%shape-grad {
  position: absolute;
  opacity: 0.05;
  height: 130px;
}

.shape-grad-1 {
  @extend %shape-grad;
  left: 0;
  top: 0;
}

.shape-grad-2 {
  @extend %shape-grad;
  right: -80px;
  top: 45px;
  height: 140px;
  transform: scaleX(-1);
}

.shape-grad-3 {
  @extend %shape-grad;
  top: 0;
  left: 35%;
  height: 3 * $shape-separator-height / 2;
}

@include media-breakpoint-down(md) {
  .shape-separator .shape-left {
    top: $shape-separator-height-md;
  }

  .shape-section-content {
    padding-left: $shape-separator-height-md;
    padding-right: $shape-separator-height-md;
  }

  .shape-separator-sub-section {
    padding-top: 2 * $shape-separator-height-md / 3;
    padding-left: $shape-separator-height-md;
    padding-right: $shape-separator-height-md;
  }

  .shape-separator-inside-block {
    margin-top: $shape-separator-height-md + $gutter;
    padding-left: 0;
    padding-right: 0;
    transform: none;
  }

  .shape-dna-1 {
    height: $shape-separator-height-md * 0.9;
    top: $shape-separator-height-md;
    left: $shape-separator-height-md + $gutter / 2;
  }

  .shape-dna-2 {
    bottom: 1%;
    height: 6px;
    right: 2%;
  }

  .shape-dna-3,
  .shape-dna-4,
  .shape-dna-5,
  .shape-dna-6,
  .shape-dna-7,
  .shape-dna-8,
  .shape-dna-9,
  .shape-dna-10,
  .shape-dna-11,
  .shape-grad-1,
  .shape-grad-2,
  .shape-grad-3 {
    display: none;
  }
}
