h1, h2, h3, h4, h5 {
  font-family: $font-family-serif;
}

h2 {
  font-weight: bold;
}

%sans-serif-bold,
.bold {
  font-family: $font-family-sans-serif-bold;
}

.text-grey {
  color: $text-grey;
}

.sub-text {
  font-size: rem(12px);
}

%icon-font {
  font-family: $font-family-icon;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  display:inline-block;
  font-style:normal;
  font-variant:normal;
  text-rendering:auto;
  line-height:1
}
