<div class="sub-section-grey footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 d-none d-lg-block">
        <img class="main-logo" src="images/icons/elsie_logo.svg" />
      </div>
      <div class="order-2 col-6 mb-4 col-md-3 col-lg-2">
        <ul class="separated">
          <li class="bold">Elsie for</li>
          <li><a href="healthcare-units.html">Health Units</a></li>
          <li><a href="laboratories.html">Laboratories</a></li>
          <li><a href="physicians.html">Physicians</a></li>
          <li><a href="patients-and-family.html">Patients & Family</a></li>
        </ul>
      </div>
      <div class="order-3 col-6 col-md-3 col-lg-2">
        <ul class="separated">
          <li class="bold">Company</li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="order-4 col-6 mb-4 col-md-3 col-lg-2">
        <ul class="separated">
          <li class="bold">Resources</li>
          <li><a href="case-studies.html">Case Studies</a></li>
          <li><a href="technical-details.html">Technical details</a></li>
        </ul>
      </div>
      <div class="order-5 col-6 col-md-3 col-lg-2">
        <ul class="separated">
          <li class="bold">Legal</li>
          <li><a href="help.html">Help</a></li>
          <li><a href="technical-details.html">Privacy and Terms</a></li>
        </ul>
      </div>
      <div class="order-1 col-12 mb-4 col-lg-2 order-lg-6 subscribe-block">
        <span class="subscribe-label bold">Subscribe our newsletter</span>
        <input type="email" class="subscribe-input open" placeholder="Email address" />
      </div>
    </div>
    <div class="row sub-section-border-top">
      <div class="col-12 order-2 col-sm-3 order-sm-1 social">
        <ul class="inline">
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
          <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="fa fa-paper-plane"></i></a></li>
        </ul>
      </div>
      <div class="col-12 order-1 mb-4 col-sm-9 order-sm-2 mb-sm-0">
        <ul class="inline partners-logos">
          <li>
            <a href="http://www.qren.pt/" target="_blank">
              <img src="images/partners/qren_colored.png" />
            </a>
          </li>
          <li>
            <a href="www.centro.portugal2020.pt" target="_blank">
              <img src="images/partners/centro-2020_colored.png" />
            </a>
          </li>
          <li>
            <a href="https://www.portugal2020.pt/" target="_blank">
              <img src="images/partners/portugal-2020_colored.png" />
            </a>
          </li>
          <li>
            <a href="http://europa.eu/" target="_blank">
              <img src="images/partners/ue_colored.png" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
