<div class="<%=bg%> section-block section-block-md shape-container">
  <img class="shape-grad-1" src="images/shapes/shape-grad-1.svg" />
  <img class="shape-grad-2" src="images/shapes/shape-grad.svg" />
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-0 col-md-5 col-lg-7">
        <h2><%=title%></h2>
        <p class="large-text white"><%= text%></p>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="layout-bottom-right">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
            <input type="email" class="form-control short" placeholder="Email" aria-label="Email" aria-describedby="email-newsletter">
            <div class="input-group-append">
              <button class="btn" type="button">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
