<div class="bg-purple-grad section-block">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3><%=title%></h3>
        <p><%= text%></p>
      </div>
      <div class="col-6">
        <div class="layout-bottom-right">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
            <input type="email" class="form-control short" placeholder="Email" aria-label="Email" aria-describedby="email-newsletter">
            <div class="input-group-append">
              <button class="btn" type="button">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
