<div class="<%=bg%> section-block section-block-md shape-container">
  <img class="shape-grad-1" src="images/shapes/shape-grad-1.svg" />
  <img class="shape-grad-2" src="images/shapes/shape-grad.svg" />
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4 mb-md-0 col-md-5 col-lg-7">
        <h2><%=title%></h2>
        <p class="large-text white"><%= text%></p>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="layout-bottom-right">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-paper-plane"></i>
              </span>
            </div>
            <input id="newsletter-submit-input" type="email" class="form-control short" placeholder="Email" aria-label="Email" aria-describedby="email-newsletter">
            <div class="input-group-append with-submit-animated">
              <button id="newsletter-submit" class="btn no-hover-up submit-animated">
                <span class="text">Submit</span>
                <div class="timer">
                  <svg viewBox="0 0 120 120" xmlns='http://www.w3.org/2000/svg'><circle cx="60" cy="60" r="55"/></svg>
                </div>
                <div class="icon-success">
                  <svg viewBox="0 0 50 45" xmlns='http://www.w3.org/2000/svg'><path d="M20,42 L3, 25"/><path d="M20,42 L47,3"/></svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
