<div class="shape-section featured-partners-section">
  <img class="shape-section-right" src="images/shapes/shape-right-grey.png" />
  <div class="shape-section-content no-padding-sm-down">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="bold text-grey">Featured partners</div>
          <div class="suber-section">
            <ul class="evenly-spread-list partners-logos">
              <li>
                <!-- TODO: add real partners links -->
                <a href="#" target="_blank">
                  <img alt="Oswaldo Cruz logo" src="images/partners/oswaldo_cruz.png" />
                  <img class="hover" alt="Oswald Cruz logo" src="images/partners/oswaldo_cruz_colored.png" />
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img alt="Preventicum logo" src="images/partners/preventicum.png" />
                  <img class="hover" alt="Preventicum logo" src="images/partners/preventicum_colored.png" />
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img alt="CHUC logo" src="images/partners/chuc.png" />
                  <img class="hover" alt="CHUC logo" src="images/partners/chuc_colored.png" />
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img alt="Ruppiner logo" src="images/partners/ruppiner.png" />
                  <img class="hover" alt="Ruppiner logo" src="images/partners/ruppiner_colored.png" />
                </a>
              </li>
              <li>
                <a href="#" target="_blank">
                  <img alt="Rambam Health Care Campus logo" src="images/partners/rambam.png" />
                  <img class="hover" alt="Rambam Health Care Campus logo" src="images/partners/rambam_colored.png" />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
