<div class="shape-section">
  <img class="shape-section-right" src="images/shapes/shape-right-grey.png" />
  <div class="shape-section-content no-padding-sm-down">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="bold text-grey">Featured partners</div>
          <div class="suber-section">
            <ul class="evenly-spread-list partners-logos">
              <li><img alt="Oswald Cruz logo" src="images/partners/oswald-cruz.png" /></li>
              <li><img alt="Preventicum logo" src="images/partners/preventicum.png" /></li>
              <li><img alt="CHUC logo" src="images/partners/chuc.png" /></li>
              <li><img alt="Ruppiner logo" src="images/partners/ruppiner.png" /></li>
              <li><img alt="Rambam Health Care Campus logo" src="images/partners/rambam.png" /></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
