<div class="shape-section">
  <img class="shape-right" src="images/shape-right-grey.png" />
  <div class="shape-section-content">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="bold text-grey">Featured partners</div>
          <ul class="evenly-spread-list partners-logos">
            <li><img alt="Oswald Cruz logo" src="images/oswald-cruz.png" /></li>
            <li><img alt="Preventicum logo" src="images/preventicum.png" /></li>
            <li><img alt="CHUC logo" src="images/chuc.png" /></li>
            <li><img alt="Ruppiner logo" src="images/ruppiner.png" /></li>
            <li><img alt="Rambam Health Care Campus logo" src="images/rambam.png" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
