<div class="text-center shape-container <%=section%>">
  <img class="shape-dna-5" src="images/shape-dna-5.png" />
  <img class="shape-dna-6" src="images/shape-dna-6.png" />
  <div class="card-quotes">
    <p class="quotation">"<%=quote%>"</p>
    <div class="contact">
      <!-- TODO: get proper contact image -->
      <img class="rounded" alt="Doctor Luis Silva" src="images/doctor-luis-silva.png" />
      <div class="name">Luís Silva</div>
      <div class="info">Osvaldo Cruz Hospital Alemão</div>
    </div>
  </div>
</div>
