<img class="parallax-shape-workflow-01" src="images/shapes/parallax/01.svg" />
<img class="parallax-shape-workflow-02" src="images/shapes/parallax/02.svg" />
<img class="parallax-shape-workflow-03" src="images/shapes/parallax/03.svg" />
<img class="parallax-shape-workflow-04" src="images/shapes/parallax/04.svg" />
<img class="parallax-shape-workflow-05" src="images/shapes/parallax/05.svg" />
<img class="parallax-shape-workflow-06" src="images/shapes/parallax/06.svg" />
<img class="parallax-shape-workflow-07" src="images/shapes/parallax/07.svg" />
<img class="parallax-shape-workflow-08 parallax-bottom" src="images/shapes/parallax/08.svg"/>
<img class="parallax-shape-workflow-09 parallax-bottom" src="images/shapes/parallax/09.svg"/>
